<div class="bg-tersier pt-60 py-10 fade-up-scroll">
  <h1
    class="text-9xl max-xl:text-7xl max-lg:text-6xl max-md:text-3xl text-center font-outline-2 font-black text-tersier"
  >
    Turn Ideas Into Digital Masterpieces.
  </h1>
  <div class="grid lg:grid-cols-3 lg:px-20 px-3 font-black mt-20 text-white">
    <div>
      <h1 class="md:text-3xl text-xl mb-5">Quick Link</h1>
      <div class="flex flex-col gap-1">
        <li class="list-none"><a href="">home</a></li>
        <li class="list-none"><a href="">project</a></li>
        <li class="list-none"><a href="">about</a></li>
        <li class="list-none"><a href="">careers</a></li>
        <li class="list-none"><a href="">contacts</a></li>
      </div>
    </div>
    <div class="lg:w-1/2 flex flex-col lg:items-center max-lg:my-10">
      <h1 class="md:text-3xl text-xl mb-5">Social Media</h1>
      <div class="flex gap-8 lg:text-3xl text-xl ml-1">
        <i class="bi bi-instagram"></i>
        <i class="bi bi-youtube"></i>
        <i class="bi bi-twitter-x"></i>
      </div>
    </div>
    <form class="border border-white p-10 rounded-2xl">
      <h1 class="md:text-5xl text-3xl font-bold">Let's Talk</h1>
      <div class="mt-8 flex flex-col gap-4">
        <div class="flex items-center gap-3">
          <div>
            <h3 class="mb-10">name</h3>
            <input
              type="text"
              class="w-full border-b outline-none border-white rounded-b-sm"
            />
          </div>
          <div>
            <h3 class="mb-10">email</h3>
            <input
              type="text"
              class="w-full border-b outline-none border-white rounded-b-sm"
            />
          </div>
        </div>
        <div>
          <h3 class="mb-10">about your project</h3>
          <textarea
            class="w-full border-b h-32 outline-none border-white rounded-b-sm"
          ></textarea>
        </div>
        <div>
          <h3 class="mb-10">budget</h3>
          <div class="grid lg:grid-cols-4 max-lg:grid-cols-2 gap-2">
            <h1
              class="border border-white rounded-xl flex justify-center items-center w-full h-12"
            >
              $200 +
            </h1>
            <h1
              class="border border-white rounded-xl flex justify-center items-center w-full h-12"
            >
              $1k +
            </h1>
            <h1
              class="border border-white rounded-xl flex justify-center items-center w-full h-12"
            >
              $100k +
            </h1>
            <h1
              class="border border-white rounded-xl flex justify-center items-center w-full h-12"
            >
              $1000k +
            </h1>
          </div>
        </div>

        <button class="bg-primary text-tersier mt-4 w-full py-3 text-3xl">
          Send
        </button>
      </div>
    </form>
  </div>
  <div class="mt-20 font-bold text-white lg:px-20 px-4">
    <h3 class="md:w-96 ml-2 max-md:text-sm">
      jalan pisang, Ngemplak, Karatsura, Sukoharjo, Jawa Tengah
    </h3>
    <div class="flex justify-between w-full max-md:mt-5 items-center">
      <span class="flex gap-3 items-center bg-tersier text-white rounded-xl">
        <img
          src="/source/log.png"
          class="w-18 max-md:w-14 rounded-md p-2"
          alt=""
          srcset=""
        />
        <h1 class="text-4xl max-md:text-2xl font-bold">ILCODE</h1>
      </span>

      <h3>
        <i class="bi bi-c-circle"></i>
        2025 ilcode
      </h3>
    </div>
  </div>
</div>
