<div class="flex h-screen">
  <div class="absolute w-screen h-screen justify-center flex">
    <span
      class="bg-transparent absolute scale-y-100 z-10 center-line h-screen w-1"
    ></span>
    <div
      class="w-1/2 bg-primary left-fence left-0 relative flex justify-end items-center"
    >
      <img
        src="/source/left-log.png"
        class="w-96 max-md:w-60 opacity-0 open-load max-sm:w-32"
        alt=""
        srcset=""
      />
    </div>
    <div class="w-1/2 bg-tersier right-fence relative flex items-center">
      <img
        src="/source/right-log.png"
        class="w-96 max-md:w-60 opacity-0 open-load max-sm:w-32"
        alt=""
        srcset=""
      />
    </div>
  </div>
  <div
    class="px-20 max-md:px-10 absolute w-screen h-screen z-40 flex justify-between"
  >
    <span
      class="bg-tersier line-left h-full scale-y-100 origin-top max-md:w-1 w-3"
    >
    </span>
    <span
      class="bg-white line-right scale-y-100 origin-bottom h-full max-md:w-1 w-3"
    >
    </span>
  </div>
  <div class="absolute z-30 h-screen w-screen items-center flex justify-center">
    <div class="flex items-center rotate-0 hidden-logo justify-center relative">
      <img
        src="/source/outer-log.png"
        class="w-96 outer-logo max-md:w-60 max-sm:w-32"
        alt=""
        srcset=""
      />
      <img
        src="/source/inner-log.png"
        class="absolute inner-logo w-96 scale-0 max-md:w-60 max-sm:w-32"
        alt=""
        srcset=""
      />
    </div>
  </div>
</div>
