<div
  id="nav"
  class="fixed h-screen flex max-lg:flex-col pointer-events-none z-50 w-screen top-0 left-0"
>
  <div
    class="relative container-nav-left z-10 lg:w-1/2 w-full lg:-left-1/2 -left-full h-full lg:h-full bg-tersier"
  >
    <div
      class="flex flex-col text-6xl max-xl:text-4xl max-lg:text-2xl justify-center items-start h-full font-bold text-[#F8ECCF]"
    >
      <div
        class="group flex gap-4 py-5 w-full hover:bg-[#F8ECCF] overflow-hidden relative"
        onclick="this.querySelector('a').click();"
      >
        <i class="bi bi-house ml-6 group-hover:text-[#342C29]"></i>
        <a class="nav-item reverse-nav pointer-events-none" href="/index.html">
          <span
            class="absolute transition-transform group-hover:translate-y-3/4 duration-300"
          >
            <li class="group-hover:text-[#342C29]">Home</li>
            <li class="opacity-0">o</li>
            <li class="opacity-0">o</li>
            <li>Home</li>
          </span>
        </a>
        <span
          class="bg-[#F8ECCF] line-nav w-full absolute scale-x-0 origin-top h-1 bottom-0"
        ></span>
      </div>
      <div
        class="group flex gap-4 py-5 w-full hover:bg-[#F8ECCF] overflow-hidden relative"
        onclick="this.querySelector('a').click();"
      >
        <i class="bi bi-app ml-6 group-hover:text-[#342C29]"></i>
        <a
          class="nav-item reverse-nav pointer-events-none"
          href="/halaman/project.html"
        >
          <span
            class="absolute transition-transform group-hover:translate-y-3/4 duration-300"
          >
            <li class="group-hover:text-[#342C29]">Project</li>
            <li class="opacity-0">o</li>
            <li class="opacity-0">o</li>
            <li>Project</li>
          </span>
        </a>
        <span
          class="bg-[#F8ECCF] line-nav w-full absolute scale-x-0 origin-top h-1 bottom-0"
        ></span>
      </div>
      <div
        class="group flex gap-4 py-5 w-full hover:bg-[#F8ECCF] overflow-hidden relative"
        onclick="this.querySelector('a').click();"
      >
        <i class="bi bi-microsoft-teams ml-6 group-hover:text-[#342C29]"></i>
        <a
          class="nav-item reverse-nav pointer-events-none"
          href="/halaman/about.html"
        >
          <span
            class="absolute transition-transform group-hover:translate-y-3/4 duration-300"
          >
            <li class="group-hover:text-[#342C29]">About</li>
            <li class="opacity-0">o</li>
            <li class="opacity-0">o</li>
            <li>About</li>
          </span>
        </a>
        <span
          class="bg-[#F8ECCF] line-nav w-full absolute scale-x-0 origin-top h-1 bottom-0"
        ></span>
      </div>
      <div
        class="group flex gap-4 py-5 w-full hover:bg-[#F8ECCF] overflow-hidden relative"
        onclick="this.querySelector('a').click();"
      >
        <i class="bi bi-briefcase ml-6 group-hover:text-[#342C29]"></i>
        <a
          class="nav-item reverse-nav pointer-events-none"
          href="/halaman/careers.html"
        >
          <span
            class="absolute transition-transform group-hover:translate-y-3/4 duration-300"
          >
            <li class="group-hover:text-[#342C29]">Careers</li>
            <li class="opacity-0">o</li>
            <li class="opacity-0">o</li>
            <li>Careers</li>
          </span>
        </a>
        <span
          class="bg-[#F8ECCF] line-nav w-full absolute scale-x-0 origin-top h-1 bottom-0"
        ></span>
      </div>
      <div
        class="group flex gap-4 py-5 w-full hover:bg-[#F8ECCF] overflow-hidden relative"
        onclick="this.querySelector('a').click();"
      >
        <i class="bi bi-envelope ml-6 group-hover:text-[#342C29]"></i>
        <a
          class="nav-item reverse-nav pointer-events-none"
          href="/halaman/contactUs.html"
        >
          <span
            class="absolute transition-transform group-hover:translate-y-3/4 duration-300"
          >
            <li class="group-hover:text-[#342C29]">Contact</li>
            <li class="opacity-0">o</li>
            <li class="opacity-0">o</li>
            <li>Contact</li>
          </span>
        </a>
        <span
          class="bg-[#F8ECCF] line-nav w-full absolute scale-x-0 origin-top h-1 bottom-0"
        ></span>
      </div>
    </div>
  </div>
  <div
    class="relative container-nav-right max-lg:hidden lg:w-1/2 w-full h-full lg:h-full lg:-right-1/2 -right-full bg-[#F8ECCF] flex justify-start lg:pt-32 pt-5 flex-col items-center gap-10 backdrop-blur-sm z-0"
  >
    <div class="grid grid-cols-2 gap-4 max-lg:px-5 max-lg:w-full font-bold">
      <div class="text-2xl max-sm:text-lg w-60">
        <h1 class="fade-up scale-y-0">Email</h1>
        <p class="text-base fade-up scale-y-0 max-sm:text-xs mt-1">
          ilcodeee@gmail.com
        </p>
      </div>
      <div class="text-2xl max-sm:text-lg w-60">
        <h1 class="fade-up scale-y-0">Office</h1>
        <p
          class="text-base fade-up scale-y-0 max-[400px]:w-40 max-sm:text-xs mt-1"
        >
          jalan pisang, Ngemplak, Karatsura, Sukoharjo
        </p>
      </div>
      <div class="text-2xl max-sm:text-lg w-60">
        <h1 class="fade-up scale-y-0">Number</h1>
        <p class="text-base fade-up scale-y-0 max-sm:text-xs mt-1">
          +628787827988
        </p>
      </div>
      <div class="text-2xl max-sm:text-lg w-60">
        <p class="text-base fade-up scale-y-0 max-sm:text-xs">
          Monday to Saturday
        </p>
        <p class="text-base fade-up scale-y-0 mt-1 max-sm:text-xs">
          07.00 AM - 17.00 PM
        </p>
      </div>
      <div class="text-2xl max-sm:text-lg w-60">
        <h1 class="fade-up scale-y-0">Social Media</h1>
        <div class="text-base max-sm:text-xs flex flex-col mt-2">
          <a class="fade-up scale-y-0" href="">Instagram</a>
          <a class="fade-up scale-y-0" href="">Tiktok</a>
          <a class="fade-up scale-y-0">Twitter</a>
          <a class="fade-up scale-y-0" href="">Faceboook</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="flex gap-4 items-center justify-end left-0 w-full font-bold">
  <div
    class="menu-btn group relative bg-tersier"
    onclick="this.classList.toggle('active')"
  >
    <span></span>
    <span></span>
    <span></span>
    <div
      class="absolute text-xl group-hover:scale-y-100 rounded-md duration-300 origin-top scale-y-0 bg-white flex w-full items-center px-5 top-10 -right-1 flex-col"
    >
      <a
        class="relative reverse-nav hover:scale-125 hover:text-white hover:bg-[#342c29] p-2 duration-300"
        href="/index.html"
      >
        <i class="bi bi-house"> </i>
      </a>
      <a
        class="relative reverse-nav hover:scale-125 hover:text-white hover:bg-[#342c29] p-2 duration-300"
        href="../halaman/project.html"
      >
        <i class="bi bi-app"></i>
      </a>
      <a
        class="relative reverse-navhover:scale-125 hover:text-white hover:bg-[#342c29] p-2 duration-300"
        href="../halaman/about.html"
      >
        <i class="bi bi-microsoft-teams"></i>
      </a>
      <a
        class="relative reverse-nav hover:scale-125 hover:text-white hover:bg-[#342c29] p-2 duration-300"
        href="../halaman/careers.html"
      >
        <i class="bi bi-briefcase"></i>
      </a>
      <a
        class="relative reverse-nav hover:scale-125 hover:text-white hover:bg-[#342c29] p-2 duration-300"
        href="../halaman/contactUs.html"
      >
        <i class="bi bi-envelope"></i>
      </a>
    </div>
  </div>
</div>
